<p><i><a href="/admirals">Admiralty List of His Majesty's Navy</a></i></p>
<p><i><a href="/ships">List of Ships in His Majesty's Navy</a></i></p>

<h1>Ships of Admiral <%= @admiral.name %>'s Squadron</h1>

<p><b><%= link_to "Add ship to Admiral #{@admiral.name}'s Squadron", "/admirals/#{@admiral.id}/ships/new" %></b></p>

<p><b><%= link_to "Sort Squadron Alphabetically", "/admirals/#{@admiral.id}/ships" %></b></p>

<% @ships.each do |ship| %>
  <h2><%= ship.ship_name %></h2>
  <p><b>Ship id: </b><%= ship.id %></p>
  <p><b>Number of Guns: </b><%= ship.guns %></p>
  <p><b>Class: </b><%= ship.number_of_deck %><b> Decker</b></p>
  <p><b>Sunk?: </b><%= ship.sunk %></p>
  <p><b>Admiral id: </b><%= ship.admiral_id %></p>
  <p><b>Created at: </b><%= ship.created_at %></p>
  <p><b>Updated at: </b><%= ship.updated_at %></p>
  <h4><%= link_to "Update #{ship.ship_name}", "/ships/#{ship.id}/edit" %><h4>
<% end %><br>
