<h2>Create New Admiral</h2>

<%= form_with url: "/admirals", method: :post, local: true do |form| %>
  <div><b><%= form.label :Name %></b>
  <%= form.text_field :name %></div><br>
  <div><b><%= form.label :Age %></b>
  <%= form.text_field :age %></div><br>
  <div><b><%= form.label :Rank %></b>
  <%= form.text_field :rank, size: "25" %></div><br>
  <div><b><%= form.label :killed_in_action, "Killed in Action?" %></b>
  <%= form.text_field :killed_in_action %></div><br>
  <%= form.submit "Create Admiral" %>
<% end %>