<p><i><a href="/admirals">Admiralty List of His Majesty's Navy</a></i></p>
<p><i><a href="/ships">List of Ships in His Majesty's Navy</a></i></p>

<h2><%= @admiral.name %></h2>
<p><b>Admiral id: </b><%= @admiral.id %></p>
<p><b>Age: </b><%= @admiral.age %></p>
<p><b>Rank: </b><%= @admiral.rank %></p>
<p><b>Killed in Action?: </b><%= @admiral.killed_in_action %></p>
<p><b>Created at: </b><%= @admiral.created_at %></p>
<p><b>Updated at: </b><%= @admiral.updated_at %></p>
<p><b><%= link_to "Ships in Squadron:", "/admirals/#{@admiral.id}/ships" %></b> <%= @admiral.number_of_ships %></p><br>
<p><%= link_to "Update Admiral #{@admiral.name}", "/admirals/#{@admiral.id}/edit" %></p>
