<p><i><a href="/admirals">Admiralty List of His Majesty's Navy</a></i></p>
<p><i><a href="/ships">List of Ships in His Majesty's Navy</a></i></p>

<h2><%= @ship.ship_name%></h2>
<p><b>Ship id: </b><%= @ship.id %></p>
<p><b>Number of Guns: </b><%= @ship.guns %></p>
<p><b>Class: </b><%= @ship.number_of_deck %><b> Decker</b></p>
<p><b>Sunk?: </b><%= @ship.sunk %></p>
<p><b>Admiral id: </b><%= @ship.admiral_id %></p>
<p><b>Created at: </b><%= @ship.created_at %></p>
<p><b>Updated at: </b><%= @ship.updated_at %></p>
